#
# Copyright (c) 2012-2014 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.1.0-SNAPSHOT
#
# Configuration properties for the Predix Machine intelsubscriptionadapter sample
#
# Service_PID = com.ge.predix.solsvc.machinedata.adapter
#


# Usage:
#
#       Properties set in this file may use the full property
#       name. For example:
#
#             <service_pid>.<property_key>=<property_value>


# Note:
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format:
#       type character followed by a quoted string representation of value.
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"].
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.


# Polling Interval in Milliseconds
com.ge.predix.solsvc.dataexchange.config.SubscriptionUpdateInterval=I"10000"

# NodeConfig File
com.ge.predix.solsvc.dataexchange.config.NodeConfigFile="configuration/machine/com.ge.predix.solsvc.machinedata.nodeconfig.json"
com.ge.predix.solsvc.dataexchange.config.AssetDataFile="appdata/asset/assetdata.json"

# DataExchange Endpoints
com.ge.predix.solsvc.dataexchange.config.dataexchange.RestEndpoint=""
com.ge.predix.solsvc.dataexchange.config.dataexchange.WebsocketEndpoint=""

# Initial configured Subscriptions
com.ge.predix.solsvc.dataexchange.config.DataSubscriptions=[ \
  "samplesub1", \
  ]

# Human Readable Adapter Name and Description Information
com.ge.predix.solsvc.dataexchange.config.SubscriptionDataAdapterName="Subscription Adapter for Simulator"
com.ge.predix.solsvc.dataexchange.config.SubscriptionDataAdapterDescription="Name of the subscription adapter"

#Asset URL
com.ge.predix.solsvc.dataexchange.config.asset.uri="http://predix-asset-sysint.grc-apps.svc.ice.ge.com"

#Asset Zone Id
com.ge.predix.solsvc.dataexchange.config.asset.zone-header-name="Predix-Zone-Id"
com.ge.predix.solsvc.dataexchange.config.asset.zone-header-value="64f941e4-07d2-46e1-9fb8-7862c1e82204"
