# [Required] The URL of the WebSocket server to send to. Must begin with ws:// or wss://
com.ge.dspmicro.websocketriver.send.destination.url="wss://gateway-predix-data-services.run.aws-usw02-pr.ice.predix.io/v1/stream/messages"

# [Required] The name of the header where the zone ID will be inserted
com.ge.dspmicro.websocketriver.send.header.zone.name="Predix-Zone-Id"

# [Required] The zone ID for the TimeSeries service instance
com.ge.dspmicro.websocketriver.send.header.zone.value="47655705-5139-4de4-999b-04f1c50f0861"

# [Required] The timeout in milliseconds to wait for a response before assuming a transfer has failed
com.ge.dspmicro.websocketriver.send.timeout=I"10000"
