#
# Copyright (c) 2012-2014 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.1.0-SNAPSHOT
#
# Configuration properties for the Predix Machine intelsubscriptionadapter sample
#
# Service_PID = com.ge.predix.solsvc.machinedata.adapter
#


# Usage:
#
#       Properties set in this file may use the full property
#       name. For example:
#
#             <service_pid>.<property_key>=<property_value>


# Note:
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format:
#       type character followed by a quoted string representation of value.
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"].
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.


# Polling Interval in Milliseconds
com.ge.predix.solsvc.machinedata.adapter.UpdateInterval=I"10000"

# NodeConfig File
com.ge.predix.solsvc.machinedata.adapter.NodeConfigFile="configuration/machine/com.ge.predix.solsvc.machinedata.nodeconfig.json"

# Initial configured Subscriptions
com.ge.predix.solsvc.machinedata.adapter.DataSubscriptions=[ \
  "samplesub1", \
  ]

# Human Readable Adapter Name and Description Information
com.ge.predix.solsvc.machinedata.adapter.Name="Subscription Adapter for Simulator"
com.ge.predix.solsvc.machinedata.adapter.Description="Name of the subscription adapter"
